@page
@model BasicCrud.Pages.Users.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<h2>@Model.Message</h2>

<div>
    <div>
        <form method="get">
        <div>
            <input type="text" asp-for="SearchTerm" class="form-control"/>
            <input type="submit" value="Search" class="btb btn-primary"/>
        </div>
        </form>
    </div>
    <table class="table">
        <thead>

        </thead>
        <tbody>
            @foreach (var user in Model.users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Age</td>
                    <td><a asp-page="Detail" asp-route-userId="@user.Id">View Details</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>

